@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700;900&display=swap");

body {
    background: url("../public/images/mainbg.jpeg");
    background-size: cover;
    overflow-x: hidden;
}

.active {
    background: linear-gradient(45deg, #8DECB4 20%, #E0A75E 70%);
    border-radius: 50%;
    color: #fff;
}


.text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#36BA98] to-[#E0A75E] font-bold;
}

.bg-gradient {
    background: linear-gradient(
        92.23deg,
        #36BA98 21.43%,
        #81A263 50.63%,
        #E0A75E 100%,
        #FD9B63 117.04%
    );
}
.section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
}

